/** light cyan**/
body {
    background-image: url("../img/bg_clair.jpg");
}

nav{
    background-image: url("../img/bg_flash.jpg");
}
h1, h2{
     font-family: Leelawadee, Impact, sans-serif;
}
nav{
    position: relative;
    height: 150px;
    width: 100%;
}
#imgBonbon{
    position: absolute;
    top: 20px;
    width: 200px;
    left: 5%;
}
nav li{
    margin-top: 25px;
    float: right;
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px;
}
nav li:nth-child(1){
    margin-right: 50px;
}
nav a{
    color: #00008b;
    text-decoration: none;
    font-family: Leelawadee, Impact, sans-serif;
    font-size: 28px;
    padding: 0 0.15em;
    width: 7em;
    display: inline-block;
    text-align: center;
}
nav a:hover{
    color: darkred;
}

nav a:active{
    color: black;
}
#container{
    min-height: 95vh;
    position: relative;
}
.ContentPrincipale{
    font-family: Leelawadee, Impact, sans-serif;
    font-size: 25px;
    color: darkblue;
    text-align: center;
    text-decoration: none;
}
.mail,.ephec,.github,.inscription {
    text-decoration: none;
    color: darkblue;
}
.mail:hover,.ephec:hover,.github:hover, .inscription:hover{
    color: darkred;
}
footer{
    position:absolute;
    font-style: italic;
    text-align: center;
    left:0;right:0;
    width: 100%;
}
#imgSucette {
    width: 29px;
}
.boutonConnexion,.boutonInscription{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 17%;
    display:inline-block;
    padding:0.3em 1.2em;
    border:0.16em solid rgb(252,245,193);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: right;
    transition: all 0.2s ease-out;
    background-color: rgb(144,206,195);
    height: 30px;
}
.ajoutBonbon{
    display:inline-block;
    border:0.16em solid rgb(252,245,193);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: right;
    transition: all 0.2s ease-out;
    background-color: rgb(144,206,195);
}
.boutonConnexion:hover,.boutonConnexion:focus,.boutonInscription:hover,.boutonInscription:focus,.ajoutBonbon:hover,.ajoutBonbon:focus,.boutonDeconnexion:hover,.boutonDeconnexion:focus{
    color: #333333;
    background-color: #FFFFFF;
    border-color: #333333;
}
.boutonConnexion:active,.boutonInscription:active,.ajoutBonbon:active{
    box-shadow: none;
    outline: none;
    color: #FFFFFF;
    background-color: rgb(144,206,195);
    border:0.16em solid rgb(252,245,193);
}
.boutonDeconnexion{
    display:inline-block;
    padding:0.3em 1.2em;
    border:0.16em solid darkred;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s ease-out;
    background-color: red;
}
#clientConnected{
    font-style: italic;
}
.boutonDeconnexion:active{
    box-shadow: none;
    outline: none;
}
label {
    float: left;
    clear: left;
    margin-left: 35%;
}
#mdp, #identifiant,#identifiantInscr,#mdpInscr,#emailInscr,#prenomInscr,#nomInscr,#adrInscr{
    margin-top: 7px;
    width: 179px;
    text-align: center;
    float: right;
    clear: right;
    margin-right: 39%;
}

#connexion{
    margin-bottom: 50px;
}
div#bonbon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    clear: both;
    width: initial;
    margin: 0.5em;
    padding:0em 15em 5em 20em;
}
.sectionUnBonbon1,.sectionUnBonbon2 , .sectionUnBonbon3, .sectionUnBonbon4 {
    border: solid 1px black;
    margin: 0.25em;
    text-align: center;
    width: 15em;
    padding: 0.25em;
    position: relative;
    height: auto;
}
.sectionUnBonbon1{
    background-color: rgb(238,127,178);
}
.sectionUnBonbon2{
    background-color: rgb(252,245,193);
}
.sectionUnBonbon3{
    background-color: rgb(144,206,195);
}
.sectionUnBonbon4{
    background-color: rgb(245,200,133);
}
.sectionUnBonbon1 img,.sectionUnBonbon2 img, .sectionUnBonbon3 img, .sectionUnBonbon4 img{
    width: 130px;
    border: solid 2px black;
}

.sectionUnBonbon1 input[type='number'],.sectionUnBonbon2 input[type='number'] , .sectionUnBonbon3 input[type='number'], .sectionUnBonbon4 input[type='number']{
    width:40px;
}

.nomBonbon,.marqueBonbon{
    font-family: fantasy;
}
.marqueBonbon{
    font-style: italic;
}
.info{
    color: black;
    padding: 0.25em;
}
.boutonCommander{
    margin-top: 10px;
    margin-left: 57%;
    display:inline-block;
    padding:0.3em 1.2em;
    border:0.16em solid rgb(252,245,193);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: right;
    transition: all 0.2s ease-out;
    background-color: rgb(144,206,195);
    height: 30px;
}
.boutonCommander:hover,.boutonCommander:active,.boutonSuppr:active,.boutonSuppr:hover{
    color: #333333;
    background-color: #FFFFFF;
    border-color: #333333;
}
.boutonCommander:active {
    box-shadow: none;
    outline: none;
}
.boutonSuppr {
    margin-left: 22.5%;
    display:inline-block;
    padding:0.3em 1.2em;
    border:0.16em solid darkred;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s ease-out;
    background-color: red;
}
.boutonSuppr:active{
    color: #333333;
    background-color: #FFFFFF;
    border-color: #333333;
}

legend{
    text-align: center;
    border: gray 1px solid;
}

.vide td {
    border:none;
}

.Somme {
    text-align: right;
    font-weight: bold;
    color: black;

}
#prixtot {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-left: 80%;
}
#panierVide{
    text-align: center;
    color: darkblue;
    font-size: 25px;
    font-family: Leelawadee, Impact, sans-serif;
}
#panierVide2{
    text-decoration: none;
}
#panierVide2:hover{
    color: darkred;
}
#imageSuppression {
    background-image: url('../img/vector-cancel-icon.jpg');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}
.error {
    color: red;
}
#verifBad{
    color: red;
    display: inline;
    font-size: 15px;
    position: absolute;
    right: 28%;
    top: 26.75%;
}
#verifGood{
    color: green;
    display: inline;
    font-size: 15px;
    position: absolute;
    right: 28%;
    top: 26.75%;
}
#verifMailGood{
    color: green;
    display: inline;
    font-size: 15px;
    position: absolute;
    right: 25%;
    top: 33.60%;
}
#verifMailBad{
    color: red;
    display: inline;
    font-size: 15px;
    position: absolute;
    right: 25%;
    top: 33.60%;
}
table.tableCommande {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.tableCommande td, table.tableCommande th {
    border: 0.2px  solid black;
    padding: 3px 4px;
}
table.tableCommande tbody td {
    font-size: 20px;
}
table.tableCommande thead {
    background: rgb(252,245,193);
    border-bottom: 4px solid #333333;
}
table.tableCommande thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.tableCommande thead th:first-child {
    border-left: none;
}

table.tableCommande details{
    text-align: left;
}

table#tabPanier tbody td {
    font-size: 20px;
}
table#tabPanier thead {
    background: rgb(144,206,195);
    border-bottom: 4px solid #333333;
}
table#tabPanier thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table#tabPanier {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table#tabPanier td, table#tabPanier th {
    padding: 3px 4px;
}
table#tabPanier thead th:first-child {
    border-left: none;
}
table#tabPanier details{
    text-align: left;
}
#tabPanier{
    font-family: Leelawadee, Impact, sans-serif;
    font-size: 25px;
    color: darkblue;
    text-align: center;
    text-decoration: none;
}